
<head>
    <meta charset="utf-8">
    <meta name="author" content="RL,PAH,MSL">
    <meta name="keywords" content="information medecin, projet, pilote, Clinique2000">
    <meta name="description" content="La création de notre clinique et son développement." />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/css/RLStyle.css" rel="stylesheet" />
    <title> Clinique 2000- info medecin</title>
</head>
@model Clinique2000.Models.medecin

@{
    ViewData["Title"] = "Dossier du médecin";
}


<body id="BodyColor">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="greenText">Informations</h2>
                <h4 class="blueText">Dossier du médecin</h4>
            </div>
            <div class="row">
                <div class="col-md-3 col-xs-2"></div>
                <div class="col-md-6 col-xs-8">
                    <img src="~/images/Img/dossier2.jpg" style="width:80%; float:right" alt="image introuvable" />

                </div>
                <div class="col-md-3 col-xs-2"></div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4 class="blueText">Dr.@Html.DisplayFor(model => model.Prenom) @Html.DisplayFor(model => model.Nom) </h4>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-4 col-sm-3">
                    <label>
                        @Html.DisplayNameFor(model => model.Nom)
                    </label>
                    <p>
                        @Html.DisplayFor(model => model.Nom)
                    </p>
                    <label>
                        @Html.DisplayNameFor(model => model.Prenom)
                    </label>
                    <p>
                        @Html.DisplayFor(model => model.Prenom)
                    </p>
                    <label>
                        @Html.DisplayNameFor(model => model.Adresse)
                    </label>
                    <p>
                        @Html.DisplayFor(model => model.Adresse)
                    </p>
                    <label>
                        @Html.DisplayNameFor(model => model.CodePostal)
                    </label>
                    <p>
                        @Html.DisplayFor(model => model.CodePostal)
                    </p>
                    
                </div>

                <div class="col-md-4 col-sm-3">
                    <label>
                        @Html.DisplayNameFor(model => model.Telephone)
                    </label>
                    <p>
                        @Html.DisplayFor(model => model.Telephone)
                    </p>

                    <label>
                        @Html.DisplayNameFor(model => model.Email)
                    </label>
                    <p>
                        @Html.DisplayFor(model => model.Email)
                    </p>
                    <label>
                        @Html.DisplayNameFor(model => model.Sexe)
                    </label>
                    <p>
                        @Html.DisplayFor(model => model.Sexe)
                    </p>
                </div>
                <div class="col-md-4 col-sm-6">
                    <label>
                        @Html.DisplayNameFor(model => model.Note)
                    </label>
                    <p>
                        @Html.DisplayFor(model => model.Note)
                    </p>
                </div>

            </div>
        </div>
        <div>
            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.MedecinID">Modifier</a> 
            <a class="btn btn-success" asp-action="Index">Retour à la liste</a>
        </div>
</body>
