<head>
    <meta charset="utf-8">
    <meta name="author" content="RL,PAH,MSL">
    <meta name="keywords" content="Les  médecins, projet, pilote, Clinique2000">
    <meta name="description" content="La création de notre clinique et son développement." />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/css/RLStyle.css" rel="stylesheet" />
    <title> Clinique 2000- Les médecins</title>
</head>
@model IEnumerable<Clinique2000.Models.medecin>

@{
    ViewData["Title"] = "Les médecins";
}

<body id="BodyColor">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="greenText">Liste des médecins</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-xs-2"></div>
            <div class="col-md-6 col-xs-8">
                <img class="medecinImg" style="width:90%" src="~/images/Img/accueil.jpg" />
            </div>
            <div class="col-md-3 col-xs-2"></div>

        </div>
        <div class="row">
            <div class="col-md-12">

                <a class="btn btn-primary" asp-action="Create">Nouveau</a>

                <table align="right" width="300" height="50">
                    <tr>
                        <td>
                            <form asp-action="Index" method="post">
                                <div class="row input-group">
                                    <input type="text" name="search" id="search" class="form-control" size="200" />
                                    <div class="row input-group-btn">
                                        <input type="submit" class="btn btn-primary" value="Search" />
                                    </div>
                                </div>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Nom)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prenom)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Telephone)
                            </th>




                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nom)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Prenom)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Telephone)
                                </td>


                                <td>
                                    <a class="btn btn-success" asp-action="Details" asp-route-id="@item.MedecinID">Détails</a>
                                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.MedecinID">modifier</a>
                                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.MedecinID">Supprimer</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
