@model Clinique2000.Models.Post

@{
    ViewData["Title"] = "Suppression";
}

<h2 class="greenText">Suppression</h2>

<h3 class="redText" style="color:red">Êtes-vous sur de vouloir supprimer cet article?</h3>
<div>
    <h4 class="blueText">@Html.DisplayFor(model => model.Title)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OverView)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OverView)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImgFilePath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImgFilePath)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PostId" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> 
        <a class="btn btn-success" asp-action="Index">Retour à la liste</a>
    </form>
</div>
